*{
	margin: 0;
	padding:0;
 }

 h1{
 	color:#FFA500;
 	font-size: 50px;
 	margin-bottom: 10px;
 	font-family: "Times New Roman", Times, serif;
   }

   .topnav {
  background-color: #F8F8F8;
  overflow: hidden;
}

.alignment{
  diplay:inline;
}
.topnav img {
 	float: left;
 	width: 80px;
 	height: 70px;
        margin-left:0px;
 }


/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

img{
       margin-top:0;
	height: 400px;
	width: 40%;
	float: right;
}

.content{
    margin-top:100px;
	margin-left: 40px;
width:50%;
display:inline;
}

#text1{
    margin-left: 10px;
    display: flex;
    margin-top:50px;
    height: 50px;
    width: 500px;
}

#text2{
    height: 35px;
    width: 200px;
    border-radius: 10px;
    border-style:solid;
    border-color: #FFA500;
    text-align: center;
    font-size: 15px;
    color: white;
    background-color:#FFA500;
    font-family:'Times New Roman', Times, serif;
}
#text3{
    margin-left: 100px;
    height: 35px;
    width: 200px;
    border-radius: 10px;
    border-style:solid;
    border-color:#FFA500;
    text-align: center;
    font-size: 15px;
    color: #000000;
    font-family:'Times New Roman', Times, serif;
}
